body{
    margin: 0px;
}

nav {
    background-color: aqua;
    padding: 5px;
    margin: 0px;
    margin-bottom: 10px;
}

table, tr, td {
    border: solid 1px black;
    border-collapse: collapse;
    text-align: left;
    font-size: 20px;
    margin: 5px;
}

table{
    width: 50%;
}